
body {
    font-family: "Roboto", sans-serif; /* Or another font */
    margin: 0;
    padding: 0;
}

.centered {
    text-align: center; /* Center align the text */
    margin-top: 0.67em; /* Default top margin */
    margin-bottom: 0.67em; /* Default bottom margin */
}
/* Basic styles for H1 headings */
h1 {
  font-size: 2.5em; /* Adjust font size as needed (e.g., 2.5 times the base font size) */
  color: gray; /* Dark gray color */
  font-weight: bold; /* Bold text */
}

/* Basic styles for H1 headings */
h2 {
  font-size: 1.5em; /* Adjust font size as needed (e.g., 2.5 times the base font size) */
  color: #333; /* Dark gray color */
  font-weight: bold; /* Bold text */
}

/* Basic styles for H3 headings */
h3 {
  font-size: 1.5em; /* Adjust font size as needed */
  color: #555; /* Slightly lighter gray color */
  font-weight: normal; /* Normal font weight */
}

#page_content {
    margin: 9px;
    padding: 9px;
}

.ctr_img {
  padding: 10px;
  margin:auto;
  width: auto;
  display: block;
  text-align: center;
}

.top_img {
  margin: 0;
  padding: 0;
  text-align: center;
}

.basic {
    padding: 3px;
}
